<div>

    <ul class="flex space-x-4">
      <li *ngFor="let action of actions">
        <button 
          (click)="setActionCourante(action)" 
          [class.bg-blue-500]="action === actionCourante"
          [class.bg-green-500]="action !== actionCourante"
          [routerLink]="action.route"
          class="text-white px-4 py-2 rounded focus:outline-none transition duration-300 ease-in-out transform hover:scale-105">
          {{action.titre}}
        </button>
      </li>
      
    </ul>
</div>

<router-outlet></router-outlet>
